/*Estilos para componentes individuales*/

#logo {
    max-width: 30px;
    margin-right: 20px;
}

#welcome_div {
    margin-bottom: 40px;
}

#welcome_h1 {
    margin-left: 50px;
}

#welcome_img {
    max-width: 700px;
    border-radius: 10px;
}

#description {
    padding-top: 40px;
}

/*Media query que se activa cuando el ancho del sitio alcanza los 1024px*/

@media screen and (max-width: 1024px) {
    #welcome_h1{
     font-size: 3em;
     margin-left: 40px;
 } 
     #welcome_img {
         max-width: 400px;
     }
 
     #welcome_div {
         margin-bottom: 0px;
     }
 
     #description {
         padding-top: 0px;
     }
 }

 /*Media query que se activa cuando el ancho del sitio alcanza los 768px*/

@media screen and (max-width: 768px) {
   #welcome_h1 {
    font-size: 40px;
    margin-left: 20px;
    }
    #logo {
        max-width: 100px;
        margin-right: 0px;
    } 
    #welcome_img {
        max-width: 400px;
    }

    #welcome_div {
        margin-bottom: 0px;
    }

    #description {
        padding-top: 0px;
    }
}

/*Media query que se activa cuando el ancho del sitio alcanza los 425px*/

 @media screen and (max-width: 425px) {
    #navbar_links {
        flex-direction: column;
    }
    
    #navbar_sesión_buttons {
        justify-content: center;
    }

    #welcome_h1 {
        font-size: 24px;
        margin-left: 16px;
     } 
     #welcome_img {
         max-width: 200px;
     }
 
     #welcome_div {
         margin-bottom: 0px;
     }
 
     #description {
         padding-top: 0px;
     }

     #description_h1 {
         font-size: 24px;
     }

     #description-cards-div {
         flex-direction: column;
     }
 }

/*Media query que se activa cuando el ancho del sitio alcanza los 375px*/

 @media screen and (max-width: 375px) {
    #logo {
        max-width: 60px;
        margin-right: 0px;
    }

    #navbar-button {
        padding: 6px 4px;
    }
    
    #welcome_h1 {
        font-size: 16px;
        margin-left: 16px;
     } 
     #welcome_img {
         max-width: 170px;
     }
 
     #welcome_div {
         margin-bottom: 0px;
     }
 
     #description {
         padding-top: 0px;
     }
 }

 @media screen and (max-width: 320px) {
     #logo {
         max-width: 40px;
         margin-right: 0px;
     }
 }